<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ts.springboot.dao.StuMapper" >
    <resultMap id="BaseResultMap" type="com.ts.springboot.bean.User" >
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
       id, name
    </sql>
    <select id="selectById" parameterType="java.lang.Integer" resultType="com.ts.springboot.bean.User">
  	select * from user where id=#{id}
    </select>
</mapper>
